<h1>Post Something New</h1>

<form method="POST" action="/posts">
	<p>Post Name: <textarea name="name"></textarea></p>
	<p>Post Content: <textarea name="content"></textarea></p>
	<button type='submit' >submit</button>
</form>